body {
    font-family: sans-serif;
    margin: 0;
}

#map {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 400px;
    top: 0;
}

#sidebar {
    bottom: 0;
    box-shadow: -6px 0 10px 0 rgba(0, 0, 0, .3);
    box-sizing: border-box;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
}

#progress-bar {
    border: 3px double #b4b4b4;
    border-radius: 4px;
    height: 8px;
}

#progress-bar div {
    background: #a3d7a4;
    height: 100%;
}

#progress-text {
    color: #555;
    display: block;
    font-size: 10px;
    font-weight: bold;
    margin-top: 3px;
    text-align: center;
}

#steps {
    bottom: 60px;
    list-style: none;
    margin: 0;
    overflow-y: auto;
    max-height: calc(100% - 120px);
    padding: 0;
    position: absolute;
    width: 360px;
}

#steps::-webkit-scrollbar {
    width: 8px;
}

#steps::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 4px;
}

#steps li {
    display: none;
    line-height: 1.4em;
    margin: 0 10px 10px 0;
    opacity: .4;
}

#steps li.visible {
    display: list-item;
}

#steps li.current {
    opacity: 1;
}

#steps li .text em {
    color: #5454c3;
    font-style: normal;
    font-weight: bold;
}

#steps li img {
    display: block;
    margin: 10px auto;
}

#steps li .answer {
    position: relative;
}

#steps li .answer input {
    border: 2px dotted #999;
    border-radius: 4px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 36px;
    margin: 10px auto;
    outline: none;
    text-align: center;
    width: 50%;
}

#steps li.current .answer.valid:after {
    color: #65af67;
    content: "✔";
    font-size: 30px;
    font-weight: bold;
    line-height: 0;
    position: absolute;
    right: 15%;
    top: 50%;
}

#steps li.current .answer.valid input {
    background-color: #d1f3d1;
    border-color: #65af67;
}

#steps li .step-num {
    font-weight: bold;
    margin-right: 6px;
}

#next-step {
    bottom: 20px;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    left: 20px;
    letter-spacing: 2px;
    position: absolute;
    text-transform: uppercase;
    width: 360px;
}

#next-step[disabled] {
    cursor: default;
}