@import "globals"
@import "sidebar/progress"
@import "sidebar/steps"
@import "sidebar/next-step"

#sidebar
    background-color: $color-side-background
    bottom: 0
    box-shadow: $shadow
    box-sizing: border-box
    padding: $sidebar-padding
    position: absolute
    right: 0
    top: 0
    width: $sidebar-width
    z-index: 2
