@import "globals"
@import "topbar/tabs"

#topbar
    background-color: $color-side-background
    border-bottom: $bar-border
    box-shadow: $bar-shadow
    height: $topbar-height
    left: 0
    overflow: hidden
    position: absolute
    right: $sidebar-width - 2
    top: 0
    z-index: 2
