#notebook
    height: 800px
    margin: 40px auto
    position: relative
    width: 614px

    textarea
        background: url("notebook.jpg") no-repeat center
        background-size: 100%
        border: none
        box-sizing: border-box
        height: 100%
        left: 0
        line-height: 20px
        outline: none
        padding: 40px 40px 50px 80px
        position: absolute
        top: 0
        width: 100%
