@import url(https://fonts.googleapis.com/css?family=Indie+Flower)

#notebook
    height: 800px
    margin: 40px auto
    position: relative
    width: 614px

    textarea
        background: url("notebook.png") no-repeat center
        background-size: cover
        border: none
        box-sizing: border-box
        font-family: 'Indie Flower', cursive
        font-size: 18px
        height: 100%
        left: 0
        line-height: 25px
        padding: 80px 64px 60px 94px
        outline: none
        position: absolute
        top: 0
        width: 100%
