@import "globals"

#next-step
    bottom: $sidebar-padding
    left: $sidebar-padding
    position: absolute
    right: $sidebar-padding

    button
        cursor: pointer
        font-weight: bold
        height: 30px
        letter-spacing: 2px
        text-transform: uppercase
        width: 100%

        &[disabled]
            cursor: default
