@import "../../helpers/globals"

#steps
    bottom: 60px
    left: $sidebar-padding
    list-style: none
    margin: 0 10px 0 0
    overflow-y: auto
    max-height: calc(100% - 120px)
    padding: 0
    position: absolute
    right: $sidebar-padding

    &::-webkit-scrollbar
        width: 8px

    &::-webkit-scrollbar-thumb
        background-color: #ddd
        border-radius: 4px

    li
        height: 0
        line-height: 1.4em
        opacity: 0
        overflow: hidden

        &.visible
            display: list-item
            height: auto
            margin-bottom: 10px
            opacity: .4

        &.current
            opacity: 1
            transition: opacity 800ms ease

        .text
            em
                color: #5454c3
                font-style: normal
                font-weight: bold

        img
            display: block
            margin: 10px auto

        .answer
            position: relative

            &.valid
                input
                    background-color: $color-correct-secondary
                    border-color: $color-correct

                &:after
                    color: $color-correct
                    content: "✔"
                    font-size: 30px
                    font-weight: bold
                    line-height: 0
                    position: absolute
                    right: 15%
                    top: 50%

            input
                border: 2px dotted #999
                border-radius: 4px
                display: block
                font-size: 20px
                font-weight: bold
                height: 36px
                margin: 10px auto
                outline: none
                text-align: center
                width: 50%

        .step-num
            font-weight: bold
            margin-right: 6px
